/*일반 구조 선택자*/

/*:first child : 형제 관계의 요소 중 첫번째 요소를 선택*/
#test1 > p:first-child {
    background-color: pink;
}
/*첫번째 자식이 p태그면, 선택하라는 뜻*/

/*last-child : 형제관계의 요소 중 마지막 요소*/
#test1 > p:last-child {
    background-color: orange;
}
/*마지막 자식이 p태그인 경우 선택되는것. 실제 코드는 pre가 마지막이기 때문에 
적용되지 않는다.*/

/*nth-child(수열) : 형제 관계 요소 중 지정된 수열번째 요소를 모두 선택
    -순서를 따질 때 1부터 시작함
*/
#test1 > p:nth-child(2){
    /*#test1의 자식 요소 중 2번째 요소를 선택하고나서
    p태그인지 검사한다.*/
    background-color: yellow;
}

/*홀수번째 형제 요소 선택*/
#test1 > p:nth-child(2n-1) {
    font-weight: bold;
    font-size: 30px;
}
/*짝수번째 형제 요소 선택*/
#test1 > p:nth-child(2n) {
    border : 3px solid black;
}

/*nth-last-child(수열) : 
    형제 관계 요소 중 뒤에서부터 지정된 수열 번째 요소를 모두 선택*/
#test1 > p:nth-last-child(2) {
    color :hotpink;
}



/**************************/
/*형태 구조 선택자*/

/* :first-of-type*/
#test2 >p:first-of-type {
    background-color: orange;
}

/* :last-of-type*/
#test2 >p:last-of-type {
    background-color: skyblue;
}

/* :nth-of-type(수열)*/
#test2 >p:nth-of-type(2n-1) {
    font-size: 30px;
}
#test2 >p:nth-last-of-type(2n) {
    background-color: red;
}

/********************/

/*부정 선택자*/
/*3의 배수를 제외한 요소에만 스타일 지정*/
#test3 >li:not(:nth-of-type(3n)) {
    background-color: aqua;
}